{% extends "base_generic.django-html" %}
{% comment %}

This is logged in page, this will display the list
of users who have sent message to the logged in user.

{% endcomment %}


{% block content %}
<h1 class="text-success">Home </h1>

<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong>Welcome to this appplication</strong> {{curr_name}}, chat now
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<ul>
    <li><strong>Toal users: </strong>{{ num_users }}</li>
</ul>
<h2>List of recieved messages</h2>
<ul>
    {% for obj in unique_list %}
    <a href="{% url 'conversation' obj %}">
        <li>{{obj}}</li>
    </a>
     {% endfor%}
</ul>

<h2>List of groups</h1>

{% for gname, gid in group_dict.items %}
    <a href =" {% url 'groupDetail' gid %}">
        <li> {{gname}}:  {{gid}} </li>
    </a>
{% endfor %}

{% if user.is_staff %}
    <a href=" {% url 'createGroup' %}">
        <button>Create group</button>
    </a>

{% endif %}
{% endblock %}