{% extends "base_generic.html" %}
{% comment %}

This is logged in page, this will display the list
of users who have sent message to the logged in user.

{% endcomment %}


{% block content %}
<h1>Home </h1>
<p>Welcome to this appplication, chat now</p>

<h2>Dynamic content</h2>
<ul>
    <li><strong>Users:</strong>{{ num_users }}</li>
    <li><strong>Logged in user: </strong>{{ curr_name }}</li>
</ul>
<h1>List of recieved messages</h2>
<ul>
    {% for obj in unique_list %}
    <a href="{% url 'conversation' obj %}">
        <li>{{obj}}</li>
    </a>
     {% endfor%}
</ul>

<h2>List of groups</h1>
{% comment %} {% for gname in group_name_list %}

    <li>{{ gname }}</li>

{% endfor %} {% endcomment %}

{% for gname, gid in group_dict.items %}
    <a href =" {% url 'groupDetail' gid %}">
        <li> {{gname}}:  {{gid}} </li>
    </a>
{% endfor %}

{% if user.is_staff %}
    <a href=" {% url 'createGroup' %}">
        <button>Create group</button>
    </a>

{% endif %}
{% endblock %}